.registerBtn {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.signBtn {
  border: none;
  background-color: white;
  margin: 1rem 0;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.signBtn a {
  color: #a2a0a0;
}
