@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,800&family=Outfit&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  color: #252525;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #d6d6d6;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a2a0a0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7d7c7c;
}
